a:hover{
    text-decoration:none;
}
#header{
    background-color: #ee6666;
}
.section{
    padding-top: 60px;
    padding-bottom: 60px;
}
.section h2.section-head{
    margin-bottom: 40px;
    text-align: center;
}
.section h2.section-head::after{
    background-color: rgb(238, 102, 102);
    content: "";
    height: 3px;
    width: 70px;
    display: block;
    margin: 20px auto;
}
#logo{
    font-size: 2rem;
    margin-top: 5px;
}
#menu li{
    list-style-type: none;
    display: inline-block;
}
#menu li a {
    text-decoration: none;
    color: cyan;
    display: inline-block;
    padding: 15px 10px;

}
#menu a:hover {
    background-color:#c54644;
    text-decoration: underline;
}
#menu{
    margin: 0px;
    padding: 0px;

}
#banner{
    background: url(img/photo-1593642632823-8f785ba67e45.jpg) no-repeat 0 0;
    background-size: cover;
    background-attachment:scroll;

}
.brand-title h2{
    margin: 0px;
    padding: 5px 8px 5px 8px;
    background-color: rgba(248, 242, 242, 0.9);
    display: inline-block;
}
.brand-title p.lead {
    background-color: rgba(238, 102, 102,0.9);
    margin: 0px;
    padding: 5px 8px 5px 8px;
}
.brand-title{
    padding-top: 20px;
    display: inline-block;
}
.midsectionbox{
    text-align: center;
    display: inline-block;
}
.midsectionbox i.fa{
    color:  rgb(238, 102, 102);
    font-size: 50px;
    margin: 10px 10px;
}
#testimonial{
    background: url(img/test1.jpg) no-repeat 0 0;
    background-size: cover;
    position: relative;
    color: white;
    margin-top: 30px;
}
#testimonial:before{
    content: "";
    background: rgba(48, 98, 204, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    display: inline-block;
}
.testimonialbox img{
    border-radius: 50%;
}
#testimonial h2.section-head{
    color: white;
}

.post-date::before{
    content: "\f073";
    font-family: "FontAwesome";
    display:inline-block;
    color: rgb(9, 21, 126);
}
.post-content a{
    color: rgb(102, 80, 20);
}
.post-content h6::after {
    content: "\f061";
    font-family: "FontAwesome";
    display: inline-block;
    margin-left: 3px;
    color: rgb(102, 80, 20);
}
#footerwidget{
    background-color: rgb(72, 91, 133);
    color: rgb(255, 255, 255);
    padding: 20px auto;
}
.footerwidgetcontent h4::after{
    content: "";
    background: rgb(255, 255, 255);
    display: block;
    height: 3px;
    width: 70px;
    margin: 15px 0px;

}
.footerwidgetcontent ul{
    list-style-type: none;
    padding: 0px;
}
.footerwidgetcontent ul li{
    margin: 5px 0px;

}
.footerwidgetcontent ul li::before{
    content: "\f0a9";
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: "FontAwesome";
    margin-right: 4px;

}
#footer{
    background-color: rgb(41, 53, 80);
    color: rgb(255, 255, 255);
    padding-top: 15px;
}
.social-icon ul{
    
    
}
.social-icon li{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}
.social-icon li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    
}
.social-icon li a.fa:hover{
    background-color: rgb(64, 70, 54);
}



@media (max-width:768px){
    .testimonialbox{
        text-align: center;
    }
    .section{
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .post-content{
        padding-bottom: 10px;
    }
    .footerwidgetcontent{
        padding-bottom: 10px;
    }
}